@import "tailwindcss";

:root {
    --text-color:#1E3A8A;
    --color-primary: #c6cacf;  
    --color-background: #F8FBFF;  
    --button1:#60A5FA;
    --button1-hover:var(--color-blue-700);
    --menu-item-hover:#E0F2FE;
}
.dark {
    --text-color:#E5E7EB;
    --color-primary: #172A45;  
    --color-background: #0A192F;
    --button1:#F97316;
    --button1-hover:#FDBA74;
    --menu-item-hover:#52515e;
    }